<div id="footer-box" class="row logos">
    <div class="span8">
        <h3>Desarrolladores</h3>
        <p>
            <a href="http://www.nan-tic.com/"><img src="{{ url_for('static', filename='images/nan-tic.png') }}" alt="Nan TIC"></a>
            <a href="http://www.zikzakmedia.com/es/acerca-de-tryton"><img src="{{ url_for('static', filename='images/zikzakmedia.png') }}" alt="Zikzakmedia"></a>
        </p>
    </div>
    <div class="span4">
        <h3>Hacemos uso de</h3>
        <p>
            <a href="http://www.python.org/" class="first"><img src="{{ url_for('static', filename='images/python.png') }}" alt="Python"></a>
        </p>
    </div>
</div>

<div id="footer-site" class="row site-box site-copyright">
    <div class="span12">
        <p class="left">Tryton ERP es una iniciativa de NaN·tic y 
        Zikzakmedia para la implementación y divulgación de Tryton como ERP 
        libre para la pequeña y mediana empresa. Se trata de una iniciativa 
        privada que no pretende reemplazar, ni comunicar en nombre del conjunto 
        de la comunidad Tryton. Tryton es una marca registrada por la Fundación Tryton.</p>
    </div>
</div>
