<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
    <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>
        <a class="brand" href="/" alt="{{ config['TITLE'] }}" title="{{ config['TITLE'] }}">{{ config['TITLE'] }}</a>
        <div class="nav-collapse collapse">
            <ul class="nav">
                <li><a href="http://www.tryton-erp.es/tryton.html">Tryton</a></li>
                <li><a href="http://doc.tryton-erp.es">Documentación</a></li>
                <li><a href="http://apps.tryton-erp.es">Apps</a></li>
                <li><a href="http://www.tryton-erp.es/demo.html">Demo</a></li>
                <li><a href="http://www.tryton-erp.es/descarga.html">Descarga</a></li>
                <li><a href="http://www.tryton-erp.es/traducciones.html">Traducciones</a></li>
                <li><a href="http://www.tryton-erp.es/fundacion.html">Fundación</a></li>
                <li><a href="http://www.tryton-erp.es/novedades/">Novedades</a></li>
            </ul>
        </div>
    </div>
    </div>
</div>
